<div class="card">
    <div class="toolbar">
        <div class="toolbar__left toolbar__label">
            <ul class="bare-list">
                <li style="float: left"><a href="/" style="text-decoration: none">Accueil</a></li>
                <li style="float: left; padding-left: 10px"><a href="#lpp" style="text-decoration: none">LPP</a></li>
                <li style="float: left; padding-left: 10px"><a href="#docs" style="text-decoration: none">API</a></li>
            </ul>
        </div>

        <div class="toolbar__right">
            <lx-search-filter closed theme="light"></lx-search-filter>
        </div>
    </div>
</div>
