<div class="card">
    <div class="toolbar">
        <div class="toolbar__left toolbar__label">
            <ul class="bare-list">
                <li style="float: left"><a href="/" style="text-decoration: none">Accueil</a></li>
                <li style="float: left; padding-left: 10px"><a href="#lpp" style="text-decoration: none">LPP</a></li>
                <li style="float: left; padding-left: 10px"><a href="#docs" style="text-decoration: none">API</a></li>
            </ul>
        </div>

        <div class="toolbar__right">
            <lx-search-filter closed theme="light"></lx-search-filter>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
            <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
    </div>
</div>
